infra/rabbitmq/terraform.tfstate.backup
infra/rabbitmq/terraform.tfstate
infra/rabbitmq/.terraform
infra/rabbitmq/.terraform.lock.hcl
.terraform*
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl